{% extends 'base.html' %}


{% block content %}
    <p>
        <h3>{{question.title}}</h3>
    </p>
    <form method="POST" action="{% url 'poll_vote' question.id %}">
        {% csrf_token %}
    {% for choice in question.choices %}
        <div class="radio">
            <label>
                <input type="radio" name="choice" value="{{choice.id}}">
                {{choice.text}}
            </label>
        </div>
    {% empty %}
        <p>There is no chice available for this question.</p>
    {% endfor %}
        <button class="btn btn-dark" type="submit" value="Vote">Vote</button>
    </form>
{% endblock content %}


<!-- 
    
<h4>Detail page</h4>
<p>Poll is created by {{question.Created_by.first_name}}</p>
<p><strong>{{question.Title}}</strong></p>

<form method="POST" action="/polls/{{question.id}}/">{% csrf_token %}

{% for choice in question.choices %}
<label>{{choice.text}}</label>
    <input type="radio" name="choice" value="{{choice.id}}">
    
{% empty %}
    <p>There are no choice available for this question</p>
{% endfor %}
<input type="submit" value="Vote">
</form>

 -->